body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333
}

p {
    color: #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word
}

.description {
    color: #333333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word
}

.subtitle {

    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    word-wrap: break-word
}


.title {
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    word-wrap: break-word
}


button {
    background-color: #0099ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.Header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 80px; 
    background: #95B7D0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    justify-content: center; 
    align-items: center; 
    gap: 1256px; 
    display: inline-flex;
    z-index: 10;
}

button .nextSong {
    z-index: 10;
}


.Main {
    margin-top: 100px;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    background: #fafafa00;
    z-index:1
}

.Footer {
    position: fixed;
    width: 100%; 
    height: 80px; 
    left: 0px; 
    bottom: 0px; 
    top: 920px;
    position: absolute; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-top: 1px #333333 solid;
}

.About {
    text-align: center; 
    color: #333333; 
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.AboutButton {
    background-color: rgba(0, 0, 0, 0); 
    width: 96px; height: 44px; 
    padding-top: 8px; padding-bottom: 7px; padding-left: 13px; padding-right: 14px; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
}

.next-button {
    background-color: rgba(0, 0, 0, 0); 
    width: 200px; height: 44px; 

    left:650px;
    top: 620px;
    z-index: 10;
    position: relative;
}

.btn-continue {
    background-color: #ffffff00;
    color: rgba(255, 255, 255, 0);
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* This enables Flexbox */
    flex-direction: row; /* This aligns children horizontally; this is default and can be omitted */
    justify-content: flex-start; 
}

.btn_submit {
    background-color: #ffffff00;
    width: 200px;
    height: 32px;
    color: #2B71B2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: left;
}

.special .button {
    background-color: darkorchid;
    width:50%;
    justify-content: center;
}

.arrow {
    width: 22px; 
    height: 30px; 
    position: relative;
    padding-left: 10px;
}

.x {
    width: 22px;
    height: 22px;
}

.info-box {
    width: 600px; 
    height: 600px; 
    position: absolute;
    right: -90px; top: 209px; 
    flex-direction: column; 
    align-items: flex-start;
    display: flex;
    border: 0px dashed green;
    background-color: #0099ff00;
    color: white;
    padding: none;
    
}

.bupton {
    position: absolute;
    left: 0px;
    top: 450px;
}

.info-box-delta { /*fix later*/
    width: 350px; 
    height: 200px; 
    position: absolute;
    right: -170px; bottom: 280px; 
    display: flex; /* This enables flexbox layout */
    flex-direction: column-reverse; /* This arranges children vertically */
    justify-content: flex-start; /* This starts the content from the bottom */
    align-items: flex-start; /* This aligns items to the right */
    border: 0px dashed navy;
    background-color: #0099ff00;
    color: white;
    padding: none;
}

.info-box-delta2 { /*fix later*/
    width: 350px; 
    height: 200px; 
    position: absolute;
    right: -320px; top: -140px; 
    display: flex; /* This enables flexbox layout */
    flex-direction: column-reverse; /* This arranges children vertically */
    justify-content: flex-start; /* This starts the content from the bottom */
    align-items: flex-start; /* This aligns items to the right */
    border: 0px dashed navy;
    background-color: #0099ff00;
    color: white;
    padding: none;
}

.info-popup {
    width: 350px;
    height: auto;
    flex-direction: column; 
    position: relative;
    padding: 16px; 
    background: #FAFAFA; 
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25); 
    border-radius: 5px; 
    justify-content: center; 
    align-items: center; 
    gap: 4px; 
    display: inline-flex
}

.check-background {
    padding: 15px;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
    position: relative;
    z-index: 10;
}

.info-popup-delta {
    width: 350px;
    height: auto;
    flex-direction: column; 
    position: relative;
    padding: 16px; 
    background: #FAFAFA; 
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25); 
    border-radius: 5px; 
    justify-content: center; 
    align-items: center; 
    gap: 4px; 
    display: inline-flex
    
}

.info-x {
    background-color: transparent;
    color: black;
    position: absolute; /* Use absolute positioning */
    top: 0px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    cursor:pointer ;
    font-weight: 1000;
    width: 20px;
    height: 20px;
    z-index: 10;

    
}

h4 {
    padding: 0px;
}

.login-frame {
    height: 376px; 
    padding-top: 78px; 
    padding-bottom: 102px; 
    padding-left: 137px; 
    padding-right: 137px; 
    left: 440px; 
    top: 209px; 
    position: absolute; 
    background: #333333; 
    border-radius: 8px; 
    overflow: hidden; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 58px; 
    display: inline-flex
}

.slogin-frame {
    width: 1000px;
    height: 1000px;
    position: center;
    display: grid;
    border: 4px solid #04447f;
    background: #333333; 
    border-radius: 8px;
    gap: 20px; /* Space between grid items */
    align-items: start; /* Align items to the start of the grid area */
}


.input-container {
    width: 1200px;
    height: 500px;
    position: absolute;
    left: 100px;
    display: grid;
    /*border: 4px solid #2B71B2;
    border-radius: 8px;*/
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: auto auto; /* Rows to accommodate content */
    gap: 20px; /* Space between grid items */
    align-items: start; /* Align items to the start of the grid area */
}

.songArtistInput {
    grid-row: 1;
    width: 100%; 
    padding-top: 16px; 
    padding-bottom: 32px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: left; 
    gap: 8px; 
    display: inline-flex;
    top: 200px;
    position: absolute;
}

.songInput {
    width: 456px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    justify-content: left; 
    align-items: center; 
    gap: 24px; 
    display: inline-flex
}

.artistInput{
    width: 456px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    justify-content: left;
    align-items: center; 
    gap: 24px; 
    display: inline-flex
}

.inputLabel {
    width: 100px; 
    height: 24px; 
    color: black; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 1000; 
    word-wrap: break-word;
    align-items: left;
}

.inputBox {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    padding-right: 10x; 
    
    overflow: hidden; 
    border: 1px #CACACA solid; 
    border-radius: 10px; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex
}

.input-file {
    width: 50px;
}

.inputText {
    flex: 1; 
    border: none; 
    outline: none;
}

.check-background {
    width: 500px;
    height: 300px;
    position: absolute; /* Use absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-right: 1px solid var(--MD, #7E7E7E);
    border-bottom: 1px solid var(--MD, #7E7E7E);
    border-left: 1px solid var(--MD, #7E7E7E);
    border-top: 1px solid var(--MD, #7E7E7E);*/
    background: var(--Bright, #FAFAFA);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: flex-start; 
    align-items: center; 
    padding-bottom: 2%;
}

.input-display {
    width: 300x;
    height: 200px;
    /*border: 2px solid #b22b36;
    border-radius: 8px;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

.spottything {
    align-self: center;
}

.delta-sliders {
    /*border: 2px solid #b22b54;
    border-radius: 8px;*/
    border-radius: 0px;
    position: relative;
    top: 40px;
}

.delta-input {
    grid-row: 1 / span 2; /* Span from row 1 to 2 */
    align-self: center; /* Vertically center in the grid area */
    width: 400px;
    height: 600px;
    flex-shrink: 0;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 100px;
    left: 760px;
    /*border: 3px solid #666;*/
}



.deltaItem {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 2px solid #3e721d;*/

    display: flex;

    width: 400px;
    height: 24px;
    justify-content: flex-start;
    align-items: left;
    gap: 16px;
    flex-shrink: 0;
}


.sdeltaLabel {
    
    display: flex;
    width: 200px;
    
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    color: var(--Dark, #333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

}

.text {
    color: #333333;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    width: 500px;
}

.deltaLabel {
   
    padding-top: 0;
    width: 160px;
    
    flex-shrink: 0;
    color: var(--Dark, #333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}


.delta-output {
    display: flex;
    padding-top: 0;
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    color: var(--Dark, #333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.slider-color {
    
    accent-color: #808080;
    width:200px;
}

.slider2 {
    accent-color: #2b71b2;
    width:200px;
}

input[type="range"] {
    width:400px;
}

.upload {
    grid-row: 2;
    width: 600px;
    height: 216px;
    flex-shrink: 0;
    border: 2px solid rgba(165, 42, 42, 0);
}

.upload-item {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    border: 1px solid rgba(0, 128, 0, 0);
    position: absolute;
    top: 400px;
    left: 0px;
}


.sampleFile {
    color: #333333; 
    width: 300px;
    height: 16px;
    background-color: #0099ff00;
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic; 
    font-weight: 400; 
    text-decoration: underline; 
    word-wrap: break-word;
    cursor: pointer;

    position: absolute;
    top: 250px;
    left: 210px;
}

.upload-check {
    color: #333333; 
    width: 250px;
    height: 30px;
    background-color: #e3e3e3;
    border: 1px solid var(--MD, #7E7E7E);
    border-radius: 0px;
    cursor: pointer;
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.upload-label {
    display: flex;
    width: 200px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    color: var(--Dark, #333);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.upload-file {
    display: flex;
    width: 400px;
    height: 32px;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    align-items: center;
    /*border: 1px solid var(--MD, #7E7E7E);*/
    background: var(--LG, #E8E8E8);
}


.button {
    width: 452px; 
    padding-top: 10px; 
    padding-bottom: 11px; 
    background: #2B71B2; 
    border-radius: 8px; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    flex: 1; 
    color: #FAFAFA; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400;
}



.confirm-widget {
    width: 300px;
    height: 400px;
    position: relative; /* Use absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-background .button {
    width: 100px;
    background: #b22b4b; 
    position: relative; /* Use absolute positioning */
    top: -5%;
    left: 50%;
    transform: translate(-50%, 5%);
    z-index: 10;
}

.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

img.track {
    border: 1px solid #8a8a8a;
}


.label {
    width: 120px;
    height: 24px;
  }
  
  .label .text-wrapper {
    position: fixed;
    width: 120px;
    height: 24px;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--dark);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }


  .energy {
  position: relative;
  width: 392px;
  height: 24px;
}

.energy .text-wrapper {
  position: absolute;
  width: 120px;
  height: 24px;
  top: -1px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.energy .slider-value {
  position: absolute;
  width: 256px;
  height: 8px;
  top: 8px;
  left: 136px;
  background-color: var(--lg);
  border-radius: 4px;
}

.energy .value {
  display: inline-flex;
  height: 8px;
  align-items: center;
  gap: 67px;
  position: relative;
  background-color: var(--midnight);
  border-radius: 4px;
}

.energy .spacer {
  position: relative;
  align-self: stretch;
  width: 1px;
  transform: rotate(180deg);
}

.energy .thumb {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -8px;
  margin-bottom: -8px;
  transform: rotate(180deg);
}

.energy .ellipse {
  height: 24px;
  background-color: var(--midnight);
  border-radius: 12px;
  transform: rotate(180deg);
}

.deltaItem .checkbox {
    width: 24px;
    height: 24px;
}
